@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@400;600&display=swap");
// font-family: 'Khand', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Lemonada:wght@300&family=Tangerine:wght@400;700&display=swap");

// font-family: 'Aldrich', sans-serif;

.About {
  .container {
    color: rgb(0, 0, 0);
    padding: 1rem;
    .row {
      display: flex;
      gap: 1rem;
      .left {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex: 1;
        h2 {
          color: rgb(17, 95, 159);
          font-size: 1.6rem;
          letter-spacing: 0.3rem;
          font-family: "Poppins", sans-serif;
        }
        span {
          font-size: 1.1rem;
          word-spacing: 0.4rem;
          letter-spacing: 0.1rem;
          color: rgb(8, 46, 60);
          font-family: "Poppins", sans-serif;
          &::first-letter {
            color: rgb(17, 95, 159);
            font-size: 3rem;
            font-weight: bold;
            line-height: 0px;
          }
        }
      }
      .right {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex: 1;
        h2 {
          font-family: "Poppins", sans-serif;

          font-size: 1.6rem;
          font-size: 1.6rem;
          color: rgb(17, 95, 159);
          letter-spacing: 0.3rem;
        }
        span {
          font-family: "Poppins", sans-serif;

          font-size: 1.2rem;
          font-weight: lighter;
          letter-spacing: 0.1rem;
          color: rgb(8, 46, 60);
          &::first-letter {
            color: rgb(255, 76, 157);
            font-size: 1.6rem;
            font-weight: bold;
            line-height: 0px;
          }
        }
      }
    }
  }

  .special {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      color: rgb(33, 127, 170);
      text-align: center;
      font-size: 1.8rem;
      letter-spacing: 0.1rem;
      font-family: "Poppins", serif;
    }
    span {
      font-family: "Poppins", sans-serif;

      color: rgb(92, 87, 78);
      text-align: center;
      font-size: 1rem;
    }
    .card-container {
      padding: 2rem 1rem 1rem 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
      .card {
        cursor: pointer;
        flex: 1;
        background: rgb(64, 151, 168);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 6px;

        background: rgb(5,52,59);
        background: linear-gradient(90deg, rgba(5,52,59,1) 0%, rgba(16,65,110,1) 43%, rgba(9,108,101,1) 99%);

        .icon {
          background: rgb(235, 235, 235);
          border-radius: 50%;
          width: 80px;
          height: 80px;
          padding: 7px;
          position: absolute;
          top: -1.8rem;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.3s ease all;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: 0.3s ease all;
          }
        }
        &:hover {
          .icon {
            background: #000;
            img {
              transform: scale(1.1);
            }
          }
        }
        h3 {
          margin-top: 3rem;
          text-align: center;
          letter-spacing: 0.1rem;
          line-height: 1.6rem;
          font-size: 1.2rem;
          color: rgb(255, 255, 255);
          font-family: "Khand", sans-serif;
          font-weight: 600;
        }
        p {
          text-align: center;
          color: rgb(207, 207, 207);
          display: flex;
          font-family: "Khand", sans-serif;

          justify-content: center;
        }
      }
    }
  }

  .info {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column; 
    margin-top: 2rem;
    // gap: ;
    h2 {
      text-align: center;
      color: rgb(31, 124, 136);
      font-family: "Aldrich", sans-serif;
      letter-spacing: .1rem;
    }
    .content-row {
      background: rgb(23, 118, 139);
      margin:.2rem 2rem 2rem 2rem;
      border-radius: 16px;
      padding: 1rem;
      display: flex;
      gap: 1rem;


      background: rgb(0,0,0);
      background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(19,73,96,1) 43%, rgba(14,17,28,1) 99%);
      .left {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        .quote {
          span {
            font-family: "Aldrich", sans-serif;
            font-size: 1.1rem;
            letter-spacing: 0.1rem;
            word-spacing: 0.4rem;
            line-height: 1.4rem;
            color: rgb(220, 220, 220);
          }
        }
        .post {
          margin: 1rem 0rem;
          span {
            &:nth-child(1) {
            }
            &:nth-child(2) {
              color: rgb(255, 255, 255);
              font-weight: bold;
            }
          }
        }
        .social {
          .social-links {
            display: flex;
            gap: .5rem;
            .link {
              cursor: pointer;
              // padding:1rem;
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: .3s ease all;
              }
              &:hover{
                img{
                  transform: scale(1.2);
                }
              }
            }
          }
        }
      }
      .right {
        flex: 1;
        height: 300px;
        .img-container {
          height: 300px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .post {
          display: none;
        }
      }
    }
  }
}
// MEDIA QUERIES

@media only screen and (max-width: 800px) {
  .About {
    .container {
      gap: 1rem;

      .row {
        flex-direction: column;
        gap: 0.5rem;
        .left {
          h2 {
            font-size: 1.4rem;
          }
          span {
            font-size: 0.9rem;
            word-spacing: 0.8rem;
            &::first-letter {
              color: rgb(17, 95, 159);
              font-size: 1.6rem;
              font-weight: bold;
              line-height: 12px;
            }
          }
        }
        .right {
          gap: 1rem;
          margin: 0;

          h2 {
            font-size: 1rem;
          }
          span {
            font-size: 0.9rem;
            word-spacing: 0.8rem;
            letter-spacing: normal;
          }
        }
      }
    }

    .special {
      h3 {
        font-size: 1.4rem;
      }
      .card-container {
        gap: 1rem;

        .card {
          min-width: 34.4%;
          margin-bottom: 1.2rem;

          .icon {
            width: 65px;
            height: 65px;
          }
          h3 {
            font-size: 0.9rem;
            margin-top: 20px;
            color: rgb(220, 220, 220);

          }
          p {
            font-size: 0.7rem;
            color: rgb(220, 220, 220);

          }
        }
      }
    }

    .info {
      padding: 0;
      h2 {
      }

      .content-row {
        // background: rgb(19, 89, 133);
        padding: 0px 10px;
        margin: 3px;

        flex-direction: column;
        .left {
          order: 2;
          .quote {
            span {
              font-family: "Aldrich", sans-serif;
              font-size: 1rem;
              letter-spacing: 00rem;
              word-spacing: 0rem;
              line-height: 1.4rem;
              color: rgb(203, 203, 203);
            }
          }
          .post {
            display: none;
          }
          .social {
            .social-links {
              margin: 1rem 0rem 1rem 0rem;
              display: flex;
              justify-content: center;
              .link {
              }
            }
          }
        }
        .right {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 500px;
          flex-direction: column;
          .img-container {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 80%;
              height: 80%;
              object-fit: contain;
            }
          }
          .post {
            font-family: "Aldrich", sans-serif;
            color: rgb(255, 255, 255);
            display: block;
            font-weight: bold;
            letter-spacing: 0.1rem;
            // text-decoration: underline;
            border-bottom: 1px solid rgb(255, 255, 255);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 446px) {
  .About {
    .container {
      .row {
        .left {
          gap: 0.6rem;

          h2 {
            font-size: 1.2rem;
          }
          span {
            font-size: 0.85rem;
            word-spacing: 0.7rem;
            letter-spacing: normal;
          }
        }
        .right {
          gap: 0.6rem;
          margin: 0;
          padding: 0.2rem 1rem;
          h2 {
            font-size: 1rem;
          }
          span {
            font-weight: 500;
            font-size: 0.85rem;
            word-spacing: 0.7rem;
            letter-spacing: normal;

          }
        }
      }
    }

    .special {
      h3 {
        font-size: 1rem;
        letter-spacing: 0.061rem;
      }
      span {
        font-size: 0.7rem;
        letter-spacing: 0.061rem;
      }

      .card-container {
        .card {
          min-width: 48%;
          .icon {
            width: 50px;
            height: 50px;
          }
          h3 {
            color: rgb(60, 60, 60);
            font-size: 1rem;
            margin-top: 12px;
            color: rgb(220, 220, 220);

          }
          p {
            font-size: 0.8rem;
            color: rgb(60, 60, 60);
            color: rgb(220, 220, 220);

          }
        }
      }
    }
  }
}
