.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    text-align: left;
    margin: 0.1rem 1rem;
    a {
        text-decoration: none;
        color: gray;
      }
  }

  ul {
    padding: 1rem;
    text-align: right;
    li {
      display: inline;
      padding: 0.5rem;
      a {
        text-decoration: none;
        color: gray;
      }
      .active {
        color: rgb(12, 194, 255);
      }
    }
  }
}
