.Containar {
  margin-bottom: 1.4rem;
  background: rgb(0, 87, 124);
  .slider { 
    display: flex;
    justify-content: center;
    // margin-bottom: 2rem;
   
    .slick-prev:before,
    .slick-next:before {
      color: green !important;
      display: none;
    }
    .v{
      padding:20px;
      display: flex;
      justify-content: center;
    }
  }
}
