.PageCover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height:125px; 
  margin: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  span {
    position: absolute;
    font-family: "Poppins", sans-serif;
    color:white;
    z-index: -1;
    font-size: 2rem;
    letter-spacing: .1rem;
  }
}


@media only screen and (max-width: 800px) {
  .PageCover {
    height:65px; 
    img {
      
    }
    span {
      font-size: 1rem;
      font-family: "Poppins", sans-serif;
    }
  }
}